<div class="chat-container">
  <ul class="chat-messages">
    <li class="message" *ngIf="!loading; else skeleton">
      <div class="message-content" *ngFor="let message of messages()">
        <div
          class="message-text"
          [ngClass]="{
            user: message.sender === 'user',
            bot: message.sender === 'bot'
          }"
        >
          {{ message.text }}
        </div>
        <div class="message-timestamp">
          {{ currentTime | date : "hh:mm a" }}
        </div>
      </div>
    </li>
  </ul>
  <div class="browser-list">
    <button
      hlmBtn
      variant="outline"
      (click)="onClickBrowserType(browser)"
      *ngFor="let browser of browsers"
    >
      {{ browser }}
    </button>
  </div>

  <div class="chat-input">
    <input
      #input
      type="text"
      placeholder="Type your message..."
      (keydown.enter)="sendChatBotMessage(input.value)"
    />

    <button class="send-button" (click)="sendChatBotMessage(input.value)">
      Send
    </button>
  </div>
</div>

<ng-template #skeleton>
  <div class="flex items-center p-2 m-2 w-fit space-x-4" style="width: 100%">
    <hlm-skeleton class="w-12 h-12 rounded-full" />
    <div class="space-y-2">
      <hlm-skeleton class="h-4 w-[250px]" />
      <hlm-skeleton class="h-4 w-[200px]" />
    </div>
  </div>
</ng-template>
