<div class="chat-container">
  <ul class="chat-messages">
    <li class="message">
      <div class="message-content">
        <div class="message-text">Hey, how are you?</div>
        <div class="message-timestamp">10:30 AM</div>
      </div>
    </li>
    <li class="message">
      <div class="message-content">
        <div class="message-text">I'm doing great, thanks!</div>
        <div class="message-timestamp">10:32 AM</div>
      </div>
    </li>
    <!-- Add more message items here -->
  </ul>

  <div class="chat-input">
    <input type="text" placeholder="Type your message..." />
    <button class="send-button">Send</button>
  </div>
</div>
