.bg-muted {
  background-color: hsl(238 44% 83% / 1);
}

.chat-container {
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  right: 25px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #f3f5f9;
}

.chat-messages {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.message {
  margin-bottom: 10px;
}

.browser-list {
  display: flex;
}

.message-content {
  display: flex;
  align-items: flex-start;
}

.message-text {
  display: inline-block;
  border-radius: 12px;
  max-width: 80%;
  padding: 16px;
  margin: 10px 0;
  white-space: pre-wrap;
  box-shadow: 0 2px 15px rgba(0, 0, 255, 0.03);
  background-color: #fff;
  overflow: hidden;
}

.message-timestamp {
  font-size: 12px;
  color: #888;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  margin-top: auto;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input button {
  padding: 8px 16px;
  background-color: #4e8cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #4285f4;
}

.user {
  margin-left: auto;
  background-color: #90b9fb;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover::after {
  // content: "Ay kalam";
}
